<%- include('../partials/header.ejs') %>

  <div class="row my-5">
    <div class="col-6 mx-auto">
      <h1>Add new comment to <%= campground.name %></h1>
      <form class="mb-2" action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="text" name="comment[text]" placeholder="想說些什麼呢？">
        </div>
        <button type="submit" class="btn btn-primary">發佈</button>
      </form>
      <a href="/campgrounds/<%= campground._id %>">Go Back</a>
    </div>
  </div>

<%- include('../partials/footer.ejs') %>