<%- include('../partials/header.ejs') %>
<div class="container my-5">
	<div class="jumbotron">
		<h1 class="display-4">YelpCamp</h1>
		<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
			featured content or information.</p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		<a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add new campground</a>
	</div>
</div>

<div class="container">
	<div class="row">
		<% campgrounds.forEach((campground) => { %>
		<div class="col-lg-3 col-md-4 col-6 d-flex mb-3">
			<div class="card">
				<img src="<%= campground.image %>" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title"><%= campground.name %></h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
						content.</p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	

	<% }) %>

</div>
</div>





</div>


<%- include('../partials/footer.ejs') %>