<%- include('../partials/header.ejs') %>

<h1>SHOW PAGE</h1>
<p><%= campground.name  %></p>
<img src="<%= campground.image %>">
<p><%= campground.description %></p>

<% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
      <a class="btn btn-warning" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
      <form class="d-inline" action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
      </form>
<% } %>

<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>

<% campground.comments.forEach((comment) => { %>
  <p><%= comment.author.username %> - <%= comment.text %></p>
  <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
        <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
        <form class="d-inline" action="/campgrounds/<%= campground.id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button class="btn  btn-sm btn-danger">Delete</button>
        </form>
  <% } %>
  
<% }) %>

<%- include('../partials/footer.ejs') %>