<%- include('../partials/header.ejs') %>

<h1>SHOW PAGE</h1>
<p><%= campground.name  %> </p>
<img src="<%= campground.image %>" alt="">
<p><%= campground.description %></p>

<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>

<% campground.comments.forEach((comment) => { %>
  <p><%= comment.author %> - <%= comment.text %></p>
<% }) %>

<%- include('../partials/footer.ejs') %>